@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Our Campus</h1>
    <p>This is icetask 2 (I am going To try To deploy icetask with microsoft azure) </p>
</div>
